.navContainer {
  
  display:flex;
  flex-direction: row;
  background-color: black;
  justify-content: space-between;
}
.products {
  margin-right: 20px;
}

p {
  font-size: large;
  color: white;
  margin: 5px 0 0 25px;
  
}

a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  
}
.list .item{
  display: inline;
}

li:hover a {
  color: black;
  background-color: white;
}

.carritoLogo {
  width: 30px;
}

ul {
  margin: 5px 20px 0 0;
}

.counterContainer {
  width: 154px;
  height: auto;
  background-color: rgb(243, 241, 239);
}

.controlContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3px;
}

.controlContainer p{
  color: black;
  margin: 5px 0 0 0;
}


