.navContainer {
  
  display:flex;
  flex-direction: row;
  background-color: black;
  justify-content: space-between;
}
.products {
  margin-right: 20px;
}

p {
  font-size: large;
  color: white;
  margin: 5px 0 0 25px;
  
}

a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  
}
.list .item{
  display: inline;
}

li:hover a {
  color: black;
  background-color: white;
}

.carritoLogo {
  width: 30px;
}

ul {
  margin: 5px 20px 0 0;
}

.counterContainer {
  margin: 10px;
  width: 154px;
  height: auto;
  background-color: rgb(243, 241, 239);
  
}

.controlContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3px;
}

.controlContainer p{
  color: black;
  margin: 5px 0 0 0;
}


.precios {
  color: black;
}

.description {
  color: black;
}

.itemsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3% 10% 0 10%;
}

.card a {
  padding: 0;
  margin: 0;
}

.imagenes {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.itemDetail {
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 2px solid black;
}

.imagenesDetail {
  width: 30%;
  height: auto;
}

.detailContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  height: 70%;
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.658);
}

#offcanvasNavbar{
  z-index: 6;
}

.modal-backdrop {
  z-index: 5;
}

.card-body {
  text-align: center;
}

.card-text {
  margin: 0;
  padding: 0;
}

.imgCenterContainer {
    height: 200px;
    width: 206px;
    position: relative;
} 

.cartProductContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.binButton{
  all: unset;
  cursor: pointer;
}

#vaciarCart{
  align-self: center;
}