.navContainer {
  
  display:flex;
  flex-direction: row;
  background-color: black;
  justify-content: space-between;
}
.products {
  margin-right: 20px;
}

p {
  font-size: large;
  color: white;
  margin-left: 25px;
}

a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}
.list .item{
  display: inline;
}

li:hover a {
  color: black;
  background-color: white;
}
